/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
 @tailwind base;
 @tailwind components;
 @tailwind utilities;

 /* @import "flowbite/src/themes/default";
 @plugin "flowbite/plugin";

 @source "../node_modules/flowbite"; */

 @plugin "flowbite-typography";

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 100; */
  /* font-style: normal; */
}

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

* {
  font-weight: 300;
}


body {
  position: relative;
  /* color: white; */
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #34495e -29.09%,
    #FBF6E9 51.77%,
    #2c3e50 129.35%
  );
  /* font-family: sans-serif; */
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.animation-container{
  /* width: 100px;
  height: 100px; */
  position: relative;
  transition: top 1s;
}
